.head2
{
	float:left;
	font-size: 50px;
	font-family: sans-serif;
	font-weight: bold;
	width: 30%;
}
.head2 img
{ 
	margin-left: 10px;
	width:350px;
	height:200px;
}
.nav
{
	float: right;
    padding: 0px;
    width:60%;
    
}
.nav ul
{
	padding: 0px;
}
body
{
	width:90%;
	min-width: 900px;
	margin: auto;
}
.nav li
{
	display: inline;
	font-size: 20px;
	text-decoration: none;
	padding:10px 10px;
}
.head1
{
height: 50px;
}
.grid_12
{
	margin-top: 20px;
	background-color: #e3e3e3;
	width:100%;	
}
.grid_12 p
{
	font-size: 20px;
}
.grid_12 img
{
	float:left;
	margin-right: 10px;
}
.grid_4
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: grey;
	width:30%;
	height:430px;

}
.grid_4 img
{
	margin-left: 10px;
}
.grid_6
{
	margin-top: 20px;
	background-color: green;
	width:45%


}
